.topnav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
  }

  .topnav a {
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 15px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav-left {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
  }

  .topnav-left img{
    height: 100px;
  }