.card{
    width: 90%;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 6%;

}
.dFlex {
    display: flex;
    justify-content: space-between;
}

#score{
    text-align: center;
}
.span{
    font-size: 16px;
    font-weight: bolder;
}
.justifyEnd{
    display: flex;
    justify-content: end;
    padding-right: 60px;
}